Source: smartfancontrol
Section: net
Priority: optional
Maintainer: Helly1206
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: sharing

Package: smartfancontrol
Architecture: all
Depends: python3,
         ${misc:Depends}
Recommends: pigpio (>= 1.71-0~rpt1)
Description: SmartFanControl - keep it cool - 
 service containing all in one fan and temperature control
